<h3>Typography</h3>
<uni-separator></uni-separator>

<h5>Headings</h5>
<h1>h1 Heading</h1>
<h2>h2 Heading</h2>
<h3>h3 Heading</h3>
<h4>h4 Heading</h4>
<h5>h5 Heading</h5>

<h5>Paragraph</h5>
<p>
    Lorem ipsum dolor sit amet, <span class="u-text-bold">consectetur adipiscing elit</span>. Nunc condimentum metus sem,
    ut tincidunt arcu convallis ut. Etiam lacinia sem vestibulum sapien feugiat laoreet. Duis id sodales lacus. Nulla euismod
    mollis luctus. Pellentesque vel ligula euismod, aliquam turpis mattis, faucibus sem. Integer et rutrum lacus. Proin pulvinar
    ac odio sed interdum. Etiam iaculis dolor massa, sed commodo lectus malesuada non. Morbi vehicula ante facilisis dignissim
    sodales.
</p>

<p>
    For
    <mark>highlighting a run of text</mark> due to its relevance in another context. Wrap the element in <code>&lt;mark&gt;</code>
</p>

<p>
    For <span class="u-text-bold">emphasizing a snippet of text</span> with a heavier font-weight. Use the class
    <code>.u-text-bold</code> or wrap the element in <code>&lt;strong&gt;</code>
</p>

<h5>Ordered List <code>&lt;ol&gt;</code></h5>
<ol>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
</ol>

<h5>Un-Ordered List <code>&lt;ul&gt;</code></h5>
<ul>
    <li>Life isn’t about getting and having...</li>
    <li>Strive not to be a success...</li>
    <li>Whatever the mind of man can...</li>
</ul>
