<h3>Charts</h3>
<uni-separator></uni-separator>

<div class="chart chart-half">
    <uni-chart chartTitle="Line chart" type="line" [series]="lineSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-half">
    <uni-chart chartTitle="Area chart" type="line" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-half">
    <uni-chart chartTitle="Bar chart" type="bar" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-half">
    <uni-chart chartTitle="Stack chart" type="bar" [series]="baseSeries" [labels]="baseLabels" [options]="stackOptions"></uni-chart>
</div>
<div class="chart chart-half">
    <uni-chart chartTitle="Horizontal bar chart" type="horizontalBar" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-half">
    <uni-chart chartTitle="Mixed chart" type="bar" [series]="mixedSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>

<div class="chart chart-quarter">
    <uni-chart chartTitle="Pie chart" type="pie" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-quarter">
    <uni-chart chartTitle="Radar chart" type="radar" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-quarter">
    <uni-chart chartTitle="Doughnut chart" type="doughnut" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
<div class="chart chart-quarter">
    <uni-chart chartTitle="Polar chart" type="polarArea" [series]="baseSeries" [labels]="baseLabels" [options]="baseOptions"></uni-chart>
</div>
